.complete_jobs{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.complete_container{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
    border: 3px black solid;
     border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.complete_container h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.complete_container p{
    margin-bottom: 10px;
}

.complete_container h4{
    margin-bottom: 10px;
}

.complete_container1{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 3px black solid;
     border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.complete_container1 h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.complete_container1 p{
    margin-bottom: 10px;
}

.complete_container1 h4{
    margin-bottom: 10px;
}

.complete_container:hover{
    width: 260px;
    height: 260px;
}

.complete_container1:hover{
    width: 260px;
    height: 260px;
}

