.cards {
    padding: 4rem;
    background: #242638;
    border: 3px solid red;
  }
  
  h1 {
    text-align: center;
    border: 3px solid yellow;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 2500px;
    width: 90%;
    margin: 0 auto;
    border: 3px solid green;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
    border: 3px solid black;
  }
  
  .cards__items {
    margin-bottom: 24px;
    border: 3px solid pink;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    border: 3px solid orange;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    border: 3px solid orangered;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    border: 3px solid blue;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
    border: 3px solid seagreen;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
    border: 3px solid skyblue;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    border: 3px solid aqua;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
    /* border: 3px solid violet; */
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
    border: 3px solid azure;
  }
  
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    border: 3px solid brown;
  }